.footer__copyright {
  justify-content: center;
  display: flex;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  opacity: 70%;
  line-height: 1;
  padding: 60px 0;
  margin: 0;
}
