.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border-radius: 8px;
  line-height: 1;
  padding: 12px 16px;
  background-image: url(../images/X.svg);
  border: none;
  background-color: transparent;
  opacity: 0.4;
}
.modal__close-btn_type_preview {
  top: 0px;
  right: -40px;
  background-image: url(../images/WhiteX.SVG.svg);
  background-size: contain;
  background-position: center;
  opacity: 1;
  position: absolute;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/X.svg);
  background-size: contain;
  background-position: center;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  color: #212121;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.4;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__error {
  color: red;
  margin-top: 8px;
  display: block;
  /* ToDo correct color and font sizes */
}

.modal__submit-btn {
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  max-width: 156px;
  font-size: 16px;
  opacity: 1;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  border-radius: 8px;
  padding: 8px 4px;
  background-color: #212121;
  width: fit-content;
}

@media screen and (max-width: 320px) {
  .modal__close-btn {
    top: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    background-color: #00000080;
    padding-top: 12px;
    line-height: 1;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__close-btn {
    right: -5px;
    position: absolute;
  }

  .modal__close-btn_type_preview {
    right: 0px;
    position: absolute;
    top: -48px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__submit-btn {
    max-width: unset;
  }
}
