.card {
  position: relative;
}

.card__title {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  display: flex;
  position: absolute;
  background-color: transparent;
  background-image: url(../images/Trash-Bin.SVG.svg);
  border-radius: 16px;
  border-style: none;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 1;
  background-image: url(../images/Delete-Hover.SVG.svg);
}

.card__like-button {
  background-image: url(../images/likebutn.svg);
  width: 23px;
  height: 20px;
  border: 2px;
  background-color: transparent;
  opacity: 40%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button_active {
  background-image: url(../images/Like-Heart.SVG.svg);
  opacity: 1;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
  background-image: url(../images/Like-Heart.SVG.svg);
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}


